<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>627434860173-5342usj46r9ubotrl5ji24j3j8cm79il.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627434860173-5342usj46r9ubotrl5ji24j3j8cm79il</string>
	<key>API_KEY</key>
	<string>AIzaSyADJGA5H49Hm-epBhQ8ic2F0vfJ6AzAj54</string>
	<key>GCM_SENDER_ID</key>
	<string>627434860173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mehmetarikan.FirestoreChallange</string>
	<key>PROJECT_ID</key>
	<string>firestorebanana</string>
	<key>STORAGE_BUCKET</key>
	<string>firestorebanana.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627434860173:ios:19b1377bdf8bbc208a3cc4</string>
</dict>
</plist>