<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>226488824208-r79sa32sqrk9fg5gaavgqqkfvbe55c23.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.226488824208-r79sa32sqrk9fg5gaavgqqkfvbe55c23</string>
	<key>API_KEY</key>
	<string>AIzaSyC_k9oBr81a2uKmnjds7o5aVpegpkUxLIk</string>
	<key>GCM_SENDER_ID</key>
	<string>226488824208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.neonapps.education.SwiftyStoreKitDemo</string>
	<key>PROJECT_ID</key>
	<string>dynamiclinks-7746c</string>
	<key>STORAGE_BUCKET</key>
	<string>dynamiclinks-7746c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:226488824208:ios:b644ac66b57f3695708315</string>
</dict>
</plist>