<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>583792902760-19m30n0mg5hdbbuhajvnk2cp42do35t5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.583792902760-19m30n0mg5hdbbuhajvnk2cp42do35t5</string>
	<key>API_KEY</key>
	<string>AIzaSyAtfN_3pUzN0EUyddofWqcdotJMi0Qm1hs</string>
	<key>GCM_SENDER_ID</key>
	<string>583792902760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mehmetarikan.FirebaseStorageChallange</string>
	<key>PROJECT_ID</key>
	<string>legendstoragechallange</string>
	<key>STORAGE_BUCKET</key>
	<string>legendstoragechallange.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583792902760:ios:cc980af7da0b2a0c15b1dd</string>
</dict>
</plist>