<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>923174112480-d31pc215kdvriji8b3s0e71ngemqku2v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.923174112480-d31pc215kdvriji8b3s0e71ngemqku2v</string>
	<key>API_KEY</key>
	<string>AIzaSyBrqRZle5uJ2ll097Y8hiQ3KflH7O4El0U</string>
	<key>GCM_SENDER_ID</key>
	<string>923174112480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mehmetarikan.FirebaseAuthenticationChallange</string>
	<key>PROJECT_ID</key>
	<string>daring-duck</string>
	<key>STORAGE_BUCKET</key>
	<string>daring-duck.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923174112480:ios:6b2554a4776b6b1217d485</string>
</dict>
</plist>